@keyframes grow {
    10% {transform: scale(1.005);}
    20% {transform: scale(1.01);}
    30% {transform: scale(1.015);}
    40% {transform: scale(1.020);}
    50% {transform: scale(1.025);}
    60% {transform: scale(1.03);}
    70% {transform: scale(1.035);}
    90% {transform: scale(1.04);}
    90% {transform: scale(1.045);}
    100% {transform: scale(1.05);}
}

.card {
    position: relative;
    cursor: pointer;
}

.card:hover{
    animation-name: grow;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    transition: opacity 0.1s ease-in;
}

.card img {
    width: 100%;
    display: block;
    border: 2px solid #fff;
    border-radius: 6px;
    padding: 3px;
}

.card .front {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
}

.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
    cursor: not-allowed;
}

.card .back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}