.App{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.head {
  max-width: 860px;
  margin: 40px auto;
}

.game {
  display: flex;
  margin-left: 40px;
}

h5 {
  margin-top: -10px;
}

h1 {
  margin-top: -10px;
}

p {
  font-size: 20px;
}

select {  
  background: none;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 1em;
  color: #fff;
  border: 2px solid #fff;
  font-weight: bold;
  margin-left: 10px;
  text-align: center;
}

select option {
  background: #1b1523;
}

button {
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background: #C5056A;
  color: #fff;
}

.card-grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;   /* 4 different columns in grid */
  grid-gap: 20px;
}

.explanation{
  width: 50%;
}

.description{
  margin-left: 40px;
  margin-right: 20px;
  text-align: justify;
}